body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    text-align: center;
}

@font-face {
  font-family: 'ProWritingService';
  src: url('fonts/Prowritingservice-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'ProWritingService', sans-serif;
}
